.Note {
  display: flex;
  justify-content: space-between;

  padding-bottom: 35px;

  .leftSideNote {
    display: flex;
    gap: 0 10px;
    align-items: center;

    .noteTitle ~ input{
      visibility: hidden;
    }

    .inputVisible ~ input{
        visibility: visible;
    }
  }

  .rightSideNote {
    display: flex;
    gap: 0 10px;
    align-items: center;

    svg {
      path {
        transition: all .2s ease;
      }
      cursor: pointer;
    }

    svg:hover {
      path {
        stroke: var(--main-color);
      }
    }
  }
}

.status {
  text-decoration: line-through;
}