.Notes {
  max-width: 560px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  padding: 0 20px;

  > div {
    position: relative;
  }

  > div::before {
    position: absolute;
    content: '';
    background-color: var(--main-color);
    width: 100%;
    height: 1px;
    bottom: 37%;
  }

  > div:last-child::before {
    display: none;
  }
}