.SearchWrapper {
  width: 100%;
  position: relative;

  .Search {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    padding: 0 16px;
    border: 1px var(--main-color) solid;
    font-size: 1.125em;

    &::placeholder {
      color: var(--transparent-main-color);
    }
  }

  .searchIcon {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

