.NoteTitle {
  padding: 0 5px;
}

.noteTitleContainer {
}

.nameInput {
  padding: 0 5px;
  width: 300px;
  height: 35px;
  background-color: #fff3f3;
  border-radius: 12px ;
  position: absolute;
  left: 36px;
  font-size: 1em;
}